#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.zona{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.cuadrado{
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  text-align: center;
}

.cuadrado.isSelected{
  background-color: #34b0f7;
}

section{
  margin-top: 20px;
  display:flex;
  justify-content: space-around;
}

/* Estilo del modal */
.modal {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  position: fixed; /* Se superpone en la ventana */
  top: 0;
  left: 0;
  width: 100%; /* Cubre toda la ventana */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  z-index: 1000; /* Coloca el modal en la parte superior */
}

/* Contenedor del modal */
.modal_main {
  background-color: #fff;
  margin: 15% auto; /* Centra el modal verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Ancho máximo */
  position: relative;
  color: #000;
  margin-bottom: 14px;
  display: block;
  margin: 0 auto;
}

/* Botón para cerrar el modal */
.close {
  margin-top: 24px;
  display: block;
  cursor: pointer;
}

/* Estilo del botón para cerrar el modal */
.close:hover {
  color: red; /* Cambia de color al pasar el mouse */
}

/* Estilo para el contenido dentro del modal */
.modal_content{
  margin-bottom: 20px;
  color: #000;
}



.reset{
  margin-top:12px;
  color:#fca;  
}